:root {
  scroll-behavior: smooth;
  --primary-color: hsl(25, 97%, 53%);
  --neutral-color-1: hsl(0, 0%, 100%);
  --neutral-color-2: hsl(217, 12%, 63%);
  --neutral-color-3: hsl(213, 19%, 18%);
  --neutral-color-4: hsl(216, 12%, 8%);
}

body * {
  font-family: "Overpass", sans-serif;
}

body:has([popover]:popover-open) {
  overflow: hidden;
}

img {
  max-inline-size: 100%;
  vertical-align: bottom;
}

a,
button {
  cursor: pointer;
}
