:root {
  scroll-behavior: smooth;
}

body * {
  font-family: "Rubik", sans-serif;
}

body:has([popover]:popover-open) {
  overflow: hidden;
}

img {
  max-inline-size: 100%;
  vertical-align: bottom;
}

a,
button {
  cursor: pointer;
}
