@use "../tools/" as t;

.l-main {
    min-block-size: 100dvh;
    display: grid;
    place-items: center;
    background-color: var(--neutral-color-4);

    & > * {
        grid-column: 1;
        grid-row: 1;
    }

    & > h1 {
        max-inline-size: 10ch;
    }
}